
@media screen and (min-width: 768px)  {
    div#imagem h2 {
        position: relative;
        top: 30%;
        color: white;
        font-size: 6em;
        text-shadow: 8px 1px black;
    }
    
    
    dialog {
        margin: auto;
        border: none;
        border-radius: .5rem;
        box-shadow: 0 0 0 5px rgb(0 0 0 / .5);
        width: 800px;
        height: 600px;
    }
    
    dialog::backdrop {
        background-color: rgb(0 0 0 / .5);
    }
    
    
    .table-container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        margin-bottom: 50px;
    }
    .conteudo {
        margin: 0 auto;
        border-radius: 10px;
        padding: 30px;
        max-width: 790px;
        border: 2px solid rgb(235, 235, 235);
        background-color: #fff;
        text-align: justify;
        font-size: 1.3em;
    }
    
    .table-icon {
        width: 70px;
        height: 70px;
        background-color: #c4c4c4;
        border: 1px solid #000000;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        margin: 10px 20px;
        cursor: pointer;
    }
    
    .table-icon.selected {
        border: 2px solid blue;
    }
    
    #botaoReservarMesa{
        margin-left: 300px;
    }
    #enviarBtn{
        margin: 100px 265px 0px;
    }
    
    .titulo-janela {
        font-size: 2em;
        text-align: center;
    }
    .janelaFormulario form {
        padding: 39px;
    }
    .janelaFormulario label {
        margin: 10px;
        font-size: 16px;
        color: #555;
        margin-bottom: 8px;
    }
    
    .janelaFormulario input {
        display: flex;
        width: 700px;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin-bottom: 16px;
    }
    
    
    .comentario {
        display: flex;
        max-width: 810px;
        padding: 20px;
        align-items: center;
        background: #fff;
        border-radius: 20px;
        margin: 8px;
        width: 100%;
    }
    
    .avaliacao {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    
    .comentario-texto {
        width: 100%;
        font-size: 1em;
        margin-left: 10px;
    }
    
    .usuario {
        width: 100px;
        font-variant: small-caps;
    }
    
    .material-symbols-outlined {
        color: #CCCCCC;
        font-variation-settings:
            'FILL' 1,
            'wght' 400,
            'GRAD' 0,
            'opsz' 24
    }
    .estrelas{
        display: flex;
        justify-content: flex-end;
        margin-right: -1px;
        width: 100%;
    }
    
    #checked {
        color: #FFC700;
    }
}